:root {
    touch-callout:none;
    touch-action: none;
    user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body {
    background-image: url("source/background.png");
    background-size: cover;
}
#logo {
    width: 90%;
}
#canvas {
    border: 3px solid black;
    width: 70vmin;
}
@media(max-width: 400px) {
    #canvas {
        width: 90%;
    }
}
#game {
    text-align: center;
}
#left, #right {
    margin-top: 20px;
    width: 120px;
}
