:root {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
#canvas {
    border: 1px solid black;
    width: 70vmin;
}
#game {
    text-align: center;
}
button {
    width: 100px;
    height: 50px;
}
