@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    background-color: rgb(249, 249, 181);
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color:rgb(36, 36, 150)
}
h1 {
    font-size: 4rem;;
}
#point {
    font-size: 30px;
    font-weight:bolder;
    max-width: max-content;
    padding: 1rem;
    border: 5px solid rgb(36, 36, 150);
}
#curr-player {
    font-weight:bolder;
    font-size: 28px;
}
#game-board {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}
.caro-cell {
    border: 1px solid rgb(36, 36, 150);
}
.caro-cell:hover {
    background-color: aliceblue;
    color: white;
}
input,button {
    margin: 20px;
}
input {
    font-family: inherit;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid rgb(36, 36, 150);
}
button {
    font-family: inherit;
    border: 0;
    border-radius: 1rem;
    background-color: rgb(36, 36, 150);
    color: aliceblue;
    padding: 20px;
}
