body {
	text-align: center;
}
#cat-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#mouse-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}